{% extends "base.html" %}

{% load static %}

{% load render_table from django_tables2 %}

{% load bootstrap3 %}

{% block title %}
    Members
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/authentication/main.css'%}">
{% endblock extra_css %}


{% block pageheader %}

  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Members</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            </ol>
          </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
{% endblock pageheader %}
  
{% block content %}

{% if filter %}
<div class="row">
  <div class="col-lg-12">
    <div class="card card-info card-outline {% if not 'name' in request.GET %}collapsed-card{% endif %}  filter-box">
      <div class="card-header">
        <h3 class="card-title">Filters Criteria</h3>
        <div class="card-tools">
          <button gender="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="get" class="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="id_name">Names</label>
                  <input gender="text" name="name" class="form-control form-control-sm" value="{{request.GET.name}}" placeholder="Names, Email, Phone number" title="" id="id_name">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="id_gender">Gender</label>
                  <select name="gender" class="form-control form-control-sm" id="id_gender">
                    <option ></option>
                    {% for gender in genders %}
                    <option value="{{gender.0}}" {% if request.GET.gender == gender.0 %} selected {% endif %}>{{gender.1}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="id_status">Status</label>
                  <div class="input-group input-group-sm ">
                    <select name="status" class="form-control form-control-sm" id="id_status">
                      <option ></option>
                      {% for status in member_status %}
                      <option value="{{status.0}}" {% if request.GET.status == status.0 %} selected {% endif %}>{{status.1}}</option>
                      {% endfor %}
                    </select>
                    <div class="input-group-append ml-2">
                      <button gender="submit" class="btn btn-lg btn-info">
                        <i class="fa fa-search"></i> Search
                    </button>
                  </div>
                  </div>
                  
                </div>
              </div>
              
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-12 mb-1">
    <button gender="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Page size
      </button>
      <div class="dropdown-menu" >
        <a class="dropdown-item" href="{% url 'members-list'%}?page={{request.GET.page}}&name={{request.GET.name}}&gender={{request.GET.gender}}&status={{request.GET.status}}&pagination=10">10</a>
        <a class="dropdown-item" href="{% url 'members-list'%}?page={{request.GET.page}}&name={{request.GET.name}}&gender={{request.GET.gender}}&status={{request.GET.status}}&pagination=20">20</a>
        <a class="dropdown-item" href="{% url 'members-list'%}?page={{request.GET.page}}&name={{request.GET.name}}&gender={{request.GET.gender}}&status={{request.GET.status}}&pagination=50">50</a>
        <a class="dropdown-item" href="{% url 'members-list'%}?page={{request.GET.page}}&name={{request.GET.name}}&gender={{request.GET.gender}}&status={{request.GET.status}}&pagination=100">100</a>
      </div>
    <div class="dt-buttons btn-group flex-wrap float-right">
      <a href="{% url 'members-list'%}?page={{request.GET.page}}&name={{request.GET.name}}&gender={{request.GET.gender}}&status={{request.GET.status}}&pagination={{request.GET.pagination}}&_export=xlsx" class="btn btn-default "><span>Excel</span></a> 
      <a href="{% url 'members-list'%}?page={{request.GET.page}}&name={{request.GET.name}}&gender={{request.GET.gender}}&status={{request.GET.status}}&pagination={{request.GET.pagination}}&_export=csv" class="btn btn-default "><span>CSV</span></a> 
    </div>
  </div>
  <div class="col md-12">
    {% include "partials/_messages.html" %}
    {% render_table table 'partials/_table.html'%}
  </div>
</div>
  
{% endblock content %}