
body{
    background-color: #f5f5f5;
}
.login-box{
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @media (max-width: map-get($grid-breakpoints, sm)) {
        margin-top: .5rem;
        width: 90%;
      }
    
  
}

.form-errors{
    padding: 2rem;
}

.member-box{
    width: 100%;
}

.auth-link {
    color: #17a2b8;
}