<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <span class="brand-text font-weight-light">{{APP_NAME}}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% comment %} <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> {% endcomment %}
        </div>
        <div class="info">
          <a href="#" class="d-block"> {{request.user.email}}
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          {% url 'dashboard' as url %}
          <li class="nav-item {% if request.path == url %}menu-open{% endif %}">
            <a href="{% url 'dashboard' %}" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
            
          </li>
          {% url 'transactions-list' as url %}
          <li class="nav-item {% if request.path == url %}menu-open{% endif %}">
            <a href="{% url 'transactions-list'%}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Transactions
              </p>
            </a>
          </li>
          {% url 'shares-list' as url %}
          <li class="nav-item {% if request.path == url %}menu-open{% endif %}">
            <a href="{% url 'shares-list'%}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Shares
              </p>
            </a>
          </li>

          {% url 'bank-transaction-list' as url %}
          <li class="nav-item {% if request.path == url %}menu-open{% endif %}">
            <a href="{% url 'bank-transaction-list'%}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Bank Transactions
              </p>
            </a>
          </li>
          <li class="nav-header">Accounts</li>
          {% url 'members-list' as url %}
          <li class="nav-item">
            <a href="{% url 'members-list' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Members
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>