container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py migrate --noinput"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    APP_DEBUG: False
    APP_EMAIL_DEFAULT_FROM_EMAIL: shirimas.work@gmail.com
    APP_EMAIL_HOST: smtp.gmail.com
    APP_EMAIL_HOST_PASSWORD: egkuvbvlmjcrhrux
    APP_EMAIL_HOST_USER: shirimas.work@gmail.com
    APP_EMAIL_PORT: 587
    APP_RDS_DB_NAME: ebdb
    APP_RDS_HOSTNAME: aau3hd6m5rcqya.chslknxmrkyi.us-west-2.rds.amazonaws.com
    APP_RDS_PASSWORD: jimaya792
    APP_RDS_PORT: 5432
    APP_RDS_USERNAME: malengosaccosdb
    APP_SECRET_KEY: r$ky(pyv^%35#1ixd_46=jq21odb#m(k0su+6k56@$5^br1c8v
    APP_SERVER_HOSTNAME: malengosaccos-env-test.eba-g3pszdhk.us-west-2.elasticbeanstalk.com
