{% extends "base.html" %}

{% load static %}

{% load render_table from django_tables2 %}

{% load bootstrap3 %}

{% block title %}
    Expenses
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/expenses/main.css'%}">
{% endblock extra_css %}


{% block pageheader %}

  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Expenses</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            </ol>
          </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
{% endblock pageheader %}
  
{% block content %}

{% if filter %}
<div class="row">
  <div class="col-lg-12">
    <div class="card card-info card-outline {% if not 'type' in request.GET %}collapsed-card{% endif %}  filter-box">
      <div class="card-header">
        <h3 class="card-title">Filters Criteria</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="get" class="form">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="id_description">Description</label>
                  <input type="text" name="description" class="form-control" value="{{request.GET.description}}" placeholder="Description" title="" id="id_description">
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

  <div class="row">
    <div class="col-md-12">
      {% include "partials/_messages.html" %}
      {% render_table table 'partials/_table.html'%}
    </div>
  </div>
{% endblock content %}