{% extends "base.html" %}

{% block title %}
    Change Password
{% endblock title %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/authentication/user_profile.css'%}">
{% endblock extra_css %}

{% block pageheader %}

  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Change password</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'user-profile'%}">User profile</a></li>
              <li class="breadcrumb-item active">Change password</li>
            </ol>
          </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
{% endblock pageheader %}

{% block content %}

<div class="row" >
  <div class="col-md-12">
    {% include "partials/_messages.html" %}
  <div class="user-profile"> 
    <div class="card card-info card-outline">
      <div class="card-body box-profile">
        {% include "partials/_form_errors.html" %}
        <div class="text-center">
          <!-- <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture"> -->
        </div>
 
        <h4 class="profile-username text-center mb-3">Change your login password</h4>

        <form action="{% url 'password-change'%}" method="post">
          {% csrf_token %}
          
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="old_password" placeholder="Old Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="new_password1" placeholder="Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="new_password2" placeholder="Confirm password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button type="submit" id="submit" class="btn btn-outline-info btn-block">Change</button>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <a href="{% url 'user-profile'%}" class="btn btn-outline-danger btn-block"><b>Cancel</b></a>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  </div>
</div>
  
{% endblock content %}