{% extends "base_auth.html" %}

{% block title %}
      Login
{% endblock title %}

{% block content %}
  
  <div class="login-box">
    {% include "partials/_messages.html" %}
    <!-- /.login-logo -->
    <div class="card card-outline card-info">
      
      <div class="card-header text-center">
        <a href="#" class="h1"><b>{{APP_NAME}}</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Login to your account</p>
        {% include "partials/_form_errors.html" %}
        <form action="{% url 'login'%}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button type="submit" class="btn btn-outline-info btn-block">Sign In</button>
            </div>
            <!-- /.col -->
            <div class="col-8">
              
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        <p class="mb-1">
          <a href="{% url 'password-reset-request' %}">Reset password</a>
        </p>
        <p class="mb-0">
          <a href="{% url 'register' %}" class="text-center">Register</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
{% endblock content %}