{% extends "base_auth.html" %}

{% load i18n %} 

{% load static %}

{% block title %}
      {% translate 'Login' %}
{% endblock title %}




{% block content %}
  
  <div class="row mt-5 mx-auto p-2">
    
    <!-- /.login-logo -->
    <div class="col-md-3"></div>
    <div class="col-md-6 " >
      {% include "partials/_messages.html" %}
      <div class="card card-outline card-info">
      
        <div class="card-header text-center">
          <a href="#" class="h1"><b>{{APP_NAME}}</b></a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">{% translate 'Login to your account' %}</p>
          {% include "partials/_form_errors.html" %}
          <form action="{% url 'login'%}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="{% translate 'Email'%}" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control passwordField" id="password" name="password" placeholder="{% translate 'Password'%}" required>
              
              <div class="input-group-append">
                <div class="input-group-text showPasswordToggle">
                  <span class="fas fa-eye" id="toggleIcon"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <button type="submit" id="submit" class="btn btn-outline-info btn-block">{% translate 'Login'%}</button>
              </div>
              <!-- /.col -->
              <div class="col-8">
                
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          <p class="mb-1">
            <a style="color: #17a2b8;" href="{% url 'password-reset-request' %}">{% translate 'Reset Password'%}</a>
          </p>
          <p class="mb-0">
            <a style="color: #17a2b8;" href="{% url 'register' %}" class="text-center">{% translate 'Create member account'%}</a>
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock content %}

{% block extra_js %}
<!-- <script src="{% static 'js/authentication/login.js'%}"></script> -->
<script  >
  
  const showPasswordToggle = document.querySelector('.showPasswordToggle');
  const passwordField = document.querySelector('.passwordField')
  const toggleIcon = document.querySelector('#toggleIcon')

  showPasswordToggle.addEventListener('click', (e)=>{
    if (passwordField.type === 'password'){
      passwordField.setAttribute('type', 'text')
      toggleIcon.classList.remove('fa-eye')
      toggleIcon.classList.add('fa-eye-slash')
    } else {
      passwordField.setAttribute('type', 'password')
      toggleIcon.classList.remove('fa-eye-slash')
      toggleIcon.classList.add('fa-eye')
    }
    
  });

</script>
{% endblock extra_js %}