{% extends "base.html" %}

{% load static %}

{% load render_table from django_tables2 %}

{% load bootstrap3 %}

{% block title %}
    Members
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/authentication/main.css'%}">
{% endblock extra_css %}


{% block pageheader %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Members</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
</div>
  
{% endblock pageheader %}
  
{% block content %}

<div class="member-box" >
  <div class="info-box bg-info">
    <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Total Members</span>
      <span class="info-box-number">{{total_members}}</span>      
    </div>
    <!-- /.info-box-content -->
  </div>
  {% if filter %}

      <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'Search'%}
      </form>
    
  {% endif %}
    
    {% include "partials/_messages.html" %}
    {% render_table table 'partials/_table.html'%}
</div>
  
{% endblock content %}