{% extends "base.html" %}

{% load static %}

{% block title %}
    Member Detail
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/authentication/main.css'%}">
{% endblock extra_css %}


{% block pageheader %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Members</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'members-list'%}">Members</a></li>
            <li class="breadcrumb-item active">Details</li>
        </ol>
      </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
</div>
  
{% endblock pageheader %}
  


{% block content %}

<div class="member-box" >
    {% include "partials/_messages.html" %}

    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Member Information</h3>
      </div>
     
          {% csrf_token %}
          <div class="card-body">
              {% include "partials/_form_errors.html" %}
              
              <div class="form-group row">
                <label for="created_by" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-6">
                  {{member.email}}
                </div>
              </div>
              <div class="form-group row">
                <label for="created_by" class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-6">
                  {{member.first_name}}
                </div>
              </div>
              <div class="form-group row">
                <label for="created_by" class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-6">
                  {{member.last_name}}
                </div>
              </div>
              <div class="form-group row">
                <label for="created_by" class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-sm-6">
                  {{member.phone_number}}
                </div>
              </div>
              <div class="form-group row">
                <label for="date_created" class="col-sm-4 col-form-label">Date Created</label>
                <div class="col-sm-6">
                  {{member.date_joined}}
                </div>
              </div>
              
    
              <div class="card-footer">
                
                {% if not member.is_active %}
                <a href="{% url 'member-send-activation-link' member.id %}" class="btn btn-outline-info mr-1">Send Activation Link</a>
                {% endif %}
                <a href="{% url 'member-send-password-reset-link' member.id %}" class="btn btn-outline-danger">Send Password Reset Email</a>
              </div>
              </div>
    
            </div>
      <!-- /.card-body -->
    </div>
    
</div>
  
{% endblock content %}