{% extends "base_auth.html" %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}
  
  <div class="row mt-5 mx-auto p-2">
    
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% include "partials/_messages.html" %}
      <!-- /.login-logo -->
    <div class="card card-outline card-info">
      
      <div class="card-header text-center">
        <a href="#" class="h1"><b>{{APP_NAME}}</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Please change your password</p>
        {% include "partials/_form_errors.html" %}
        <form action="{% url 'password-change-required'%}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="old_password" placeholder="Old Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="new_password1" placeholder="New Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="new_password2" placeholder="Confirm Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-md-12">
              <button type="submit" name="submit" id="id_submit" class="btn btn-outline-info btn-block">Change Password</button>
            </div>
           
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock content %}