{% extends "base_auth.html" %}


{% load i18n %} 

{% load static %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}
  
  <div class="row mt-5 mx-auto p-2">
    
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% include "partials/_messages.html" %}
      <!-- /.login-logo -->
    <div class="card card-outline card-info">
      
      <div class="card-header text-center">
        <a href="#" class="h1"><b>{{APP_NAME}}</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">{% translate 'Please change your password'%}</p>
        {% include "partials/_form_errors.html" %}
        <form action="{% url 'password-change-required'%}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="password" class="form-control passwordField" id="old_password" name="old_password" placeholder="{% translate 'Old password'%}" required>
            <div class="input-group-append showPasswordToggle">
              <div class="input-group-text">
                <span class="fas fa-eye"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control passwordField" id="new_password1" name="new_password1" placeholder="{% translate 'New password'%}" required>
            <div class="input-group-append">
              <div class="input-group-text showPasswordToggle">
                <span class="fas fa-eye"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control passwordField" id="new_password2" name="new_password2" placeholder="{% translate 'Confirm password'%}" required>
            <div class="input-group-append">
              <div class="input-group-text showPasswordToggle">
                <span class="fas fa-eye"></span>
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-md-12">
              <button type="submit" name="submit" id="id_submit" class="btn btn-outline-info btn-block">{% translate 'Change password'%}</button>
            </div>
           
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock content %}

{% block extra_js %}
<!-- <script src="{% static 'js/authentication/login.js'%}"></script> -->
<script  >
  
  const showPasswordToggle = document.querySelector('.showPasswordToggle');
  const passwordField = document.querySelector('.passwordField')
  const toggleIcon = document.querySelector('#toggleIcon')

  showPasswordToggle.addEventListener('click', (e)=>{
    if (passwordField.type === 'password'){
      passwordField.setAttribute('type', 'text')
      toggleIcon.classList.remove('fa-eye')
      toggleIcon.classList.add('fa-eye-slash')
    } else {
      passwordField.setAttribute('type', 'password')
      toggleIcon.classList.remove('fa-eye-slash')
      toggleIcon.classList.add('fa-eye')
    }
    
  });

</script>
{% endblock extra_js %}