{% extends "base_auth.html" %}

{% block title %}
      Register
{% endblock title %}

{% block content %}
  
  <div class="row mt-5 mx-auto p-2">
    

    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% include "partials/_messages.html" %}
      <div class="card card-outline card-info">
      
        <div class="card-header text-center">
          <a href="#" class="h1"><b>{{APP_NAME}}</b></a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Register new account</p>
          {% include "partials/_form_errors.html" %}
          <form action="{% url 'register'%}" method="post">
            {% csrf_token %}
            
            <div class="input-group mb-3">
              <input type="email" class="form-control" name="email" placeholder="Email" value="{{values.email}}" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            
            <div class="input-group mb-3">
              <input type="password" class="form-control" name="password1" placeholder="Password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" name="password2" placeholder="Confirm password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <select name="gender" class="form-control" required> 
                <option ></option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="mobile_number" required value="{{values.mobile_number}}" placeholder="Mobile Number" >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-mobile"></span>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4 mt-3">
                <input type="text" class="form-control" name="first_name" value="{{values.first_name}}" required placeholder="First name" >
              </div>
              <div class="col-md-4 mt-3">
                <input type="text" class="form-control" name="middle_name" value="{{values.middle_name}}" required placeholder="Middle Name" >
              </div>
              <div class="col-md-4 mt-3">
                <input type="text" class="form-control" name="last_name" value="{{values.last_name}}" required placeholder="Last name" >
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-outline-info btn-block">Register</button>
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          <p class="mb-1">
            <a href="{% url 'password-reset-request' %}">Reset password</a>
          </p>
          <p class="mb-0">
            <a href="{% url 'login' %}" class="text-center">Login</a>
          </p>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <div class="col-md-3"></div>
    <!-- /.card -->
  </div>
{% endblock content %}

