{% extends "base_auth.html" %}

{% block title %}
    Password Reset
{% endblock title %}

{% block content %}
  
  <div class="row mt-5 mx-auto p-2">
    
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- /.login-logo -->
    <div class="card card-outline card-info">
      
      <div class="card-header text-center">
        <a href="#" class="h1"><b>{{APP_NAME}}</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Please enter your valid email address, to receive password reset link in your email</p>
        {% include "partials/_form_errors.html" %}
        <form action="{% url 'password-reset-request'%}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-4">
              <button type="submit" class="btn btn-outline-info btn-block">Send link</button>
            </div>
            <!-- /.col -->
            <div class="col-8">
              
            </div>
            <!-- /.col -->
          </div>
        </form>
        <p class="mb-1">
            <a href="{% url 'login' %}"> Login </a>
          </p>
          <p class="mb-0">
            <a href="{% url 'register' %}" class="text-center">Register</a>
          </p>
  
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock content %}