{% extends "base_auth.html" %}

{% load i18n %} 

{% load static %}

{% block title %}
  {% translate 'Reset password'%}
{% endblock title %}

{% block content %}
  
  <div class="row mt-5 mx-auto p-2">
    
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- /.login-logo -->
      {% include "partials/_messages.html" %}
    <div class="card card-outline card-info">
      
      <div class="card-header text-center">
        <a href="#" class="h1"><b>{{APP_NAME}}</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">
            {% translate 'Password reset link has been sent to your email, please check you emails'%}
        </p>
        
        
        <p class="mt-5">
          <a href="{% url 'password-reset-request' %}" class="btn btn-outline-info btn-block auth-link">{% translate 'Request another link' %}</a>
        </p>
        <p class="mt-2">
          <a  href="{% url 'login' %}" class="btn btn-outline-info btn-block auth-link"> {% translate 'Login' %} </a>
        </p>
  
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock content %}