{% extends "base_auth.html" %}

{% load i18n %} 

{% load static %}

{% block title %}
{% translate 'Set password'%}
{% endblock title %}

{% block content %}
  
  <div class="row mt-5 mx-auto p-2">
    
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% include "partials/_messages.html" %}
      <!-- /.login-logo -->
    <div class="card card-outline card-info">
      
      <div class="card-header text-center">
        <a href="#" class="h1"><b>{{APP_NAME}}</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">{% translate 'Please set your new password'%}</p>
        {% include "partials/_form_errors.html" %}
        <form action="{% url 'password-reset-change' uidb64 token%}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="password" class="form-control" id="password1" name="password1" placeholder="{% translate 'New password'%}" required>
            <div class="input-group-append">
              <div class="input-group-text" id="password1-toggle">
                <span class="fas fa-eye" id="password1-icon"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" id="password2" name="password2" placeholder="{% translate 'Confirm Password'%}" required>
            <div class="input-group-append">
              <div class="input-group-text" id="password2-toggle">
                <span class="fas fa-eye" id="password2-icon"></span>
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-4">
              <button type="submit" class="btn btn-outline-info btn-block">{% translate 'Change password' %}</button>
            </div>
            <!-- /.col -->
            <div class="col-8">
              
            </div>
            <!-- /.col -->
          </div>
        </form>
        <p class="mb-0">
          <a href="{% url 'login' %}" class="auth-link">{% translate 'Login' %}</a>
        </p>
  
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/authentication/main.js'%}"></script>
{% endblock extra_js %}