{% extends "base.html" %}

{% load static %}

{% block title %}
    User profile
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/authentication/user_profile.css'%}">
{% endblock extra_css %}


{% block pageheader %}

  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">User profile</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">User profile </li>
            </ol>
          </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
{% endblock pageheader %}
  


{% block content %}

<div class="row" >
   <div class="col-md-12">
    {% include "partials/_messages.html" %}
    <div class="user-profile"> 
      <div class="card card-info card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <!-- <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture"> -->
          </div>
      
          <h3 class="profile-username text-center">
            {{request.user.get_full_name}}
            </h3>
      
          <p class="text-muted text-center">{{request.user}}</p>
          
          
          <p class="text-muted text-center">{{request.user.mobile_number}}</p>
            
          
      
          <a href="{% url 'password-change'%}" id="change_password" class="btn btn-outline-info btn-block mb-3"><b>Change Password</b></a>
          <a href="{% url 'user-profile-update' %}" id="update_profie" class="btn btn-outline-info btn-block"><b>Update Profile</b></a>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
   </div>
</div>
  
{% endblock content %}