{% extends "base.html" %}

{% load static %}

{% load render_table from django_tables2 %}

{% load bootstrap3 %}

{% load humanize %}

{% block title %}
    Loans
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/loans/main.css'%}">
{% endblock extra_css %}


{% block pageheader %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Loan Repayments</h1>
        </div><!-- /.col -->
        
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
{% endblock pageheader %}
  


{% block content %}


{% if filter %}
<div class="row">
  <div class="col-lg-12">
    <div class="card card-info card-outline {% if not 'member' in request.GET %}collapsed-card{% endif %} filter-box">
      <div class="card-header">
        <h3 class="card-title">Filters Criteria</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="get" class="form">
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="id_member">Member</label>
                  <input type="text" name="member" class="form-control form-control-sm" value="{{request.GET.member}}" placeholder="Member" title="" id="id_description">
                </div>
              </div>
              
              <div class="col-md-3">
                <div  class="form-group">
                  <label for="id_start_date">Start Date</label>
                  <input type="date" name="start_date" class="form-control form-control-sm" value="{{request.GET.start_date}}"  placeholder="Start Date" title="" id="id_start_date">
                </div>
              </div>
              <div class="col-md-3">
                <div  class="form-group">
                  <div  class="form-group mb-3">
                    <label for="id_end_date">End Date</label>
                    <div class="input-group input-group-sm ">
                      <input type="date" name="end_date" class="form-control form-control-sm" value="{{request.GET.end_date}}" placeholder="End Date" title="" id="id_end_date">
                      <div class="input-group-append">
                          <button type="submit" class="btn btn-lg btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-12 mb-1">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Page size
      </button>
      <div class="dropdown-menu" >
        <a class="dropdown-item" href="{% url 'loanrepayment-list'%}?page={{request.GET.page}}&member={{request.GET.member}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination=10">10</a>
        <a class="dropdown-item" href="{% url 'loanrepayment-list'%}?page={{request.GET.page}}&member={{request.GET.member}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination=20">20</a>
        <a class="dropdown-item" href="{% url 'loanrepayment-list'%}?page={{request.GET.page}}&member={{request.GET.member}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination=50">50</a>
        <a class="dropdown-item" href="{% url 'loanrepayment-list'%}?page={{request.GET.page}}&member={{request.GET.member}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination=100">100</a>
      </div>
    <div class="dt-buttons btn-group flex-wrap float-right">
      <a href="{% url 'loanrepayment-list'%}?page={{request.GET.page}}&member={{request.GET.member}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination={{request.GET.pagination}}&_export=xlsx" class="btn btn-default "><span>Excel</span></a> 
      <a href="{% url 'loanrepayment-list'%}?page={{request.GET.page}}&member={{request.GET.member}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination={{request.GET.pagination}}&_export=csv" class="btn btn-default "><span>CSV</span></a> 
    </div>
  </div>
  <div class="col-md-12">
    {% include "partials/_messages.html" %}
    {% render_table table 'partials/_table.html'%}
  </div>
</div>  
{% endblock content %}


{% block extra_js %}

<script language="JavaScript">
  function toggle(source) {
      checkboxes = document.getElementsByName('selection');
      for(var i in checkboxes)
          checkboxes[i].checked = source.checked;
  }
  </script>
  
{% endblock extra_js %}
  