{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% block title %}
    Loan Detail
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/loans/main.css'%}">
{% endblock extra_css %}


{% block pageheader %}

  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Loans</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'loanrepayment-list'%}">Loan Repayments</a></li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
          </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
{% endblock pageheader %}
  


{% block content %}

<div class="row" >
  <div class="col-md-12">
    {% include "partials/_messages.html" %}
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Loan Repayment details</h3>
      </div>
      <div class="card-body">
              {% include "partials/_form_errors.html" %}
              <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Repaid Amount</label>
                <div class="col-sm-9">
                  {{loanrepayment.transaction.amount|floatformat:0|intcomma  }}
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Principle Repayment</label>
                <div class="col-sm-9">
                  {{loanrepayment.principle_amount|floatformat:0|intcomma }}
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Interest Repayment</label>
                <div class="col-sm-9">
                  {{loanrepayment.interest_amount|floatformat:0|intcomma }}
                  </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Date Paid</label>
                <div class="col-sm-9">
                  {{loanrepayment.transaction.reference.date_trans }}
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Loan</label>
                <div class="col-sm-9">
                  <a href="{% url 'loan-detail' loanrepayment.loan.id %}">Principle:({{loanrepayment.loan.principle|floatformat:0|intcomma }})</a>
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Reference Transaction</label>
                <div class="col-sm-9">
                  <a href="{% url 'transaction-detail' loanrepayment.transaction.id %}">Transaction:({{loanrepayment.transaction.description}})</a>
                </div>
              </div>
              <div class="card-footer">
                <a href="{% url 'loans-list' %}" class="btn btn-outline-danger">Back</a>
              </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>  
{% endblock content %}