{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% block title %}
    Dashboard
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard/main.css'%}">
{% endblock extra_css %}

{% block pageheader %}

  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
{% endblock pageheader %}

{% block content %}

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        {% if share_amount_sum %}
        <h3>{{share_amount_sum|floatformat:0|intcomma }}</h3>
        {% else %}
        <h3>0</h3>
        {% endif %}

        <p>Shares</p>
      </div>
      
      <div class="icon">
        <i class="far fa-share-square"></i>
      </div>
      <a href="{% url 'shares-list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-md-6 col-sm-12">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        {% if saving_amount_sum %}
        <h3>{{saving_amount_sum|floatformat:0|intcomma }}</h3>
        {% else %}
        <h3>0</h3>
        {% endif %}

        <p>Savings</p>
      </div>
      <div class="icon">
        <i class="far fa-save"></i>
      </div>
      <a href="{% url 'savings-list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        {% if loan_all_count %}
        <h3>{{loan_all_count|floatformat:0|intcomma }}</h3>
        {% else %}
        <h3>0</h3>
        {% endif %}

        <p>Loans</p>
      </div>
      <div class="icon">
        <i class="fas fa-users"></i>
      </div>
      <a href="{% url 'members-list'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-md-6 col-sm-12">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        {% if loanrepayments_all_count %}
        <h3>{{loanrepayments_all_count|floatformat:0|intcomma }}</h3>
        {% else %}
        <h3>0</h3>
        {% endif %}

        <p>Loan Repayments</p>
      </div>
      <div class="icon">
        <i class="fas fa-users"></i>
      </div>
      <a href="{% url 'members-list'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-md-6 col-sm-12">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        {% if penalties_total %}
        <h3>{{penalties_total|floatformat:0|intcomma }}</h3>
        {% else %}
        <h3>0</h3>
        {% endif %}

        <p>Penalties</p>
      </div>
      <div class="icon">
        <i class="fas fa-users"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-md-6 col-sm-12">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        {% if member_all_count %}
        <h3>{{member_all_count|floatformat:0|intcomma }}</h3>
        {% else %}
        <h3>0</h3>
        {% endif %}

        <p>Members</p>
      </div>
      <div class="icon">
        <i class="fas fa-users"></i>
      </div>
      <a href="{% url 'members-list'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>

  

  <!-- ./col -->
  
  <div class="col-lg-3 col-md-6 col-sm-12">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        
        {% if expense_amount_sum %}
        <h3>{{expense_amount_sum|floatformat:0|intcomma }}</h3>
        {% else %}
        <h3>0</h3>
        {% endif %}

        <p>Expenses</p>
      </div>
      <div class="icon">
        <i class="far fa-money-bill-alt"></i>
      </div>
      <a href="{% url 'expenses-list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>

<!-- <div class="row">
  <div class="col-sm-12 col-md-6"> <canvas id="shares_chart" width="400" height="400"></canvas> </div>
  <div class="col-sm-12 col-md-6"> <canvas id="savings_chart" width="400" height="400"></canvas> </div>
</div> -->

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/Chart.min.js'%}" ></script>
<!-- <script src="{% static 'js/dashboard/main.js'%}"></script> -->
{% endblock extra_js %}