{% extends "base.html" %}

{% load static %}

{% load render_table from django_tables2 %}

{% load bootstrap3 %}

{% load humanize %}

{% block title %}
    Bank Transactions
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/transactions/main.css'%}">
{% endblock extra_css %}


{% block pageheader %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Bank Transactions</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right float-right">
            <li class="breadcrumb-item active"><a class="btn btn-outline-info btn-sm" href="{% url 'bank-transaction-import'%}">Import File</a> </li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
{% endblock pageheader %}
  


{% block content %}

{% if filter %}



  
<div class="row">
  <div class="col-lg-12">
    <div class="card card-info card-outline {% if not 'type' in request.GET %}collapsed-card{% endif %} filter-box">
      <div class="card-header">
        <h3 class="card-title">Filters Criteria</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="get" class="form">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="id_description">Description</label>
                  <input type="text" name="description" class="form-control form-control-sm" value="{{request.GET.description}}" placeholder="Description" title="" id="id_description">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="id_type">Type</label>
                  <select name="type" class="form-control form-control-sm" id="id_type">
                    <option ></option>
                    {% for type in transaction_types %}
                    <option value="{{type.0}}" {% if request.GET.type == type.0 %} selected {% endif %}>{{type.1}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="id_type">Status</label>
                  <select name="status" class="form-control form-control-sm" id="id_status">
                    <option ></option>
                    {% for status in transaction_statuses %}
                    <option value="{{status.0}}" {% if request.GET.status == status.0 %} selected {% endif %}>{{status.1}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div  class="form-group">
                  <label for="id_start_date">Start Date</label>
                  <input type="date" name="start_date" class="form-control form-control-sm" value="{{request.GET.start_date}}"  placeholder="Start Date" title="" id="id_start_date">
                </div>
              </div>
              <div class="col-md-3">
                <div  class="form-group">
                  <div  class="form-group mb-3">
                    <label for="id_end_date">End Date</label>
                    <div class="input-group input-group-sm ">
                      <input type="date" name="end_date" class="form-control form-control-sm" value="{{request.GET.end_date}}" placeholder="End Date" title="" id="id_end_date">
                      <div class="input-group-append">
                          <button type="submit" class="btn btn-lg btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<form action="{% url 'bank-transaction-multiple-assign' %}" method="post">
  {% csrf_token %}
  <div class="row" >
    
    <div class="col-sm-12 col-md-">
      {% include "partials/_form_errors.html" %}
      <div class="form-group row">
        <label for="id_action" class="col-sm-2">Actions</label>
        <div class="form-group col-sm-10 mb-10">
          <div class="input-group input-group-sm ">
            <select name="action" class="custom-select form-control form-control-sm" id="id_action" required>
              <option ></option>
              {% for key, value in table_actions %}
              <option value="{{key}}">{{value}}</option>
              {% endfor %}
            </select>
            <div class="input-group-append">
              <button type="submit" class="btn btn-lg btn-info">
                Assign
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mb-1">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Page size
        </button>
        <div class="dropdown-menu" >
          <a class="dropdown-item" href="{% url 'bank-transaction-list'%}?page={{request.GET.page}}&description={{request.GET.description}}&type={{request.GET.type}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination=10">10</a>
          <a class="dropdown-item" href="{% url 'bank-transaction-list'%}?page={{request.GET.page}}&description={{request.GET.description}}&type={{request.GET.type}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination=20">20</a>
          <a class="dropdown-item" href="{% url 'bank-transaction-list'%}?page={{request.GET.page}}&description={{request.GET.description}}&type={{request.GET.type}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination=50">50</a>
          <a class="dropdown-item" href="{% url 'bank-transaction-list'%}?page={{request.GET.page}}&description={{request.GET.description}}&type={{request.GET.type}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination=100">100</a>
        </div>
      <div class="dt-buttons btn-group flex-wrap float-right">
        <a href="{% url 'bank-transaction-list'%}?page={{request.GET.page}}&description={{request.GET.description}}&type={{request.GET.type}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination={{request.GET.pagination}}&_export=xlsx" class="btn btn-default "><span>Excel</span></a> 
        <a href="{% url 'bank-transaction-list'%}?page={{request.GET.page}}&description={{request.GET.description}}&type={{request.GET.type}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&pagination={{request.GET.pagination}}&_export=csv" class="btn btn-default "><span>CSV</span></a> 
      </div>
    </div>
    <div class="col-sm-12">
      {% include "partials/_messages.html" %}
    {% render_table table 'partials/_table.html'%}
    </div>
  </div>
</form>

{% endblock content %}


{% block extra_js %}

<script language="JavaScript">
  function toggle(source) {
      checkboxes = document.getElementsByName('selection');
      for(var i in checkboxes)
          checkboxes[i].checked = source.checked;
  }
  </script>
  
{% endblock extra_js %}
  