{% extends "base.html" %}

{% load static %}

{% block title %}
    Bank Transaction Assign
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/transactions/main.css'%}">
{% endblock extra_css %}


{% block pageheader %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Bank Transactions</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'bank-transaction-list'%}">Bank Transactions</a></li>
            <li class="breadcrumb-item active">Asssign</li>
        </ol>
      </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
</div>
  
{% endblock pageheader %}
  


{% block content %}

<div class="transaction-box" >
    {% include "partials/_messages.html" %}

    <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Assign Bank Transaction</h3>
        </div>
        <form action="{% url 'bank-transaction-assign' bank_transaction.id %}" method="post">
            {% csrf_token %}
            <div class="card-body">
                {% include "partials/_form_errors.html" %}
                <div class="form-group row">
                  <label for="assign_scope" class="col-sm-2 col-form-label">Assign To: </label>
                  <div class="col-sm-10">
                    <select name="assign_scope" class="custom-select form-control-border" id="assign_scope">
                      <option>Select a scope to assign the bank transaction</option>
                      {% for scope in assign_scopes %}
                      <option value="{{scope.0}}">{{scope.1}}</option>
                      {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="form-group row mt-5">
                  <h4>Details</h4>
                </div>
                <div class="form-group row">
                  <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" disabled id="amount" value="{{bank_transaction.amount}}">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="description" class="col-sm-2 col-form-label">Description</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" disabled id="description" value="{{bank_transaction.description}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="type" class="col-sm-2 col-form-label">Type</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" disabled id="type" value="{{bank_transaction.type}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="status" class="col-sm-2 col-form-label">Status</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" disabled id="status" value="{{bank_transaction.status}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="date_trans" class="col-sm-2 col-form-label">Trans Date</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" disabled id="date_trans" value="{{bank_transaction.date_trans}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="date_value" class="col-sm-2 col-form-label">Value Date</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" disabled id="date_trans" value="{{bank_transaction.date_value}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="created_by" class="col-sm-2 col-form-label">Created By</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" disabled id="created_by" value="{{bank_transaction.created_by.email}}">
                  </div>
                </div>
      
                <div class="card-footer">
                  <button type="submit" class="btn btn-outline-info mr-2"><i class="fas fa-arrow-circle-right"></i>Proceed</button>
                  <a href="{% url 'bank-transaction-list' %}" class="btn btn-outline-danger">Cancel</a>
                </div>
      
            </div>
        </form>
        <!-- /.card-body -->
      </div>
    
</div>
  
{% endblock content %}